<style>
	.aura-selector {
		.aura-effects-list {
			gap: 12px;

			>li::marker {
				content: "";
			}
		}

		.aura-effect-option {
			width: 100%;
			justify-content: flex-start;
			gap: 8px;
			padding: 6px 10px;
			text-align: left;

			.name-stacked {
				flex: 1;
				min-width: 0;
			}
		}
	}
</style>

<ul class="aura-effects-list flexcol unlist" role="list">
	{{#each effects}}
	<li>
		<button type="button" class="flexrow aura-effect-option" data-action="selectAura" data-effect-id="{{id}}">
			<img class="gold-icon" src="{{img}}" alt="{{name}}">
			<div class="name-stacked">
				<div class="title">{{name}}</div>
			</div>
		</button>
	</li>
	{{/each}}
</ul>